// Clouds

@keyframes fg-cloud-top {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  49.98% {
    transform: translate3d(-76%, 0, 0);
    visibility: visible;
  }

  49.99% {
    transform: translate3d(-76%, 0, 0);
    visibility: hidden;
  }

  50% {
    transform: translate3d(44%, 0, 0);
    visibility: hidden;
  }

  50.01% {
    transform: translate3d(44%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes fg-cloud-bottom {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  49.98% {
    transform: translate3d(-92%, 0, 0);
    visibility: visible;
  }

  49.99% {
    transform: translate3d(-92%, 0, 0);
    visibility: hidden;
  }

  50% {
    transform: translate3d(26%, 0, 0);
    visibility: hidden;
  }

  50.01% {
    transform: translate3d(26%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes bg-cloud-top {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  49.98% {
    transform: translate3d(-63%, 0, 0);
    visibility: visible;
  }

  49.99% {
    transform: translate3d(-63%, 0, 0);
    visibility: hidden;
  }

  50% {
    transform: translate3d(84%, 0, 0);
    visibility: hidden;
  }

  50.01% {
    transform: translate3d(84%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes bg-cloud-middle {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  49.98% {
    transform: translate3d(-45%, 0, 0);
    visibility: visible;
  }

  49.99% {
    transform: translate3d(-45%, 0, 0);
    visibility: hidden;
  }

  50% {
    transform: translate3d(94%, 0, 0);
    visibility: hidden;
  }

  50.01% {
    transform: translate3d(94%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes bg-cloud-bottom {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  49.98% {
    transform: translate3d(-92%, 0, 0);
    visibility: visible;
  }

  49.99% {
    transform: translate3d(-92%, 0, 0);
    visibility: hidden;
  }

  50% {
    transform: translate3d(53%, 0, 0);
    visibility: hidden;
  }

  50.01% {
    transform: translate3d(53%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}