{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
    <section class="splash">
        <div class="splash-illustration">
            <div class="splash-illustration-logo"></div>
            <div class="splash-illustration-plant"></div>
            <div class="splash-illustration-hill"></div>
            <div class="splash-illustration-goblin"></div>
            <div class="splash-illustration-foreground-cloud-first"></div>
            <div class="splash-illustration-foreground-cloud-second"></div>
            <div class="splash-illustration-castle"></div>
            <div class="splash-illustration-background-cloud-third"></div>
            <div class="splash-illustration-background-cloud-fourth"></div>
            <div class="splash-illustration-background-cloud-fifth"></div>
        </div>
    </section>
{% endblock content %}
