{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
    <section class="splash">
        <a class="splash-logo_tabula" href="https://tabula.games/" target="_blank">
            <img src="{% static "images/logo-tabula.jpg" %}" alt="Tabula Games">
        </a>
        <div class="splash-illustration">
            <div class="splash-illustration-logo"></div>
            <div class="splash-illustration-plant"></div>
            <div class="splash-illustration-hill"></div>
            <div class="splash-illustration-background-hill"></div>
            <div class="splash-illustration-goblin"></div>
            <div class="splash-illustration-foreground-clouds">
                <div class="splash-illustration-foreground-clouds-top"></div>
                <div class="splash-illustration-foreground-clouds-bottom"></div>
            </div>
            <div class="splash-illustration-castle"></div>
            <div class="splash-illustration-background-clouds">
                <div class="splash-illustration-background-clouds-top"></div>
                <div class="splash-illustration-background-clouds-middle"></div>
                <div class="splash-illustration-background-clouds-bottom"></div>
            </div>
        </div>
        <div class="splash-scroll">
            <h3 class="splash-scroll-text">Scroll Down</h3>
        </div>
    </section>

    <section class="orders">
        <div class="orders-game">
            <div class="orders-game-kickstarter">
                <h2 class="orders-game-kickstarter-heading">Funded with Kickstarter</h2>
                <img class="orders-game-kickstarter-badge js-inject-svg" src="{% static 'svg/kickstarter-logo.svg' %}">
            </div>
            <p class="orders-game-description">Jewels is an amazing adventure for those who love board games, cards and gems. It was successfully funded with <a target="_blank" href="https://www.kickstarter.com/projects/1656496370/jewels/">Kickstarter</a> on December 2015. If you missed the campaign, you now have the chance to preorder the game.</p>
            <h1 class="orders-game-order">Order Jewels!</h1>
            <a class="button orders-game-button" href="https://magicmerchant.it/catalogue/jewels-gioco-da-tavolo-in-inglese_2251/" target="_blank">
                <img class="orders-button-cornice js-inject-svg" src="{% static 'svg/cornice.svg' %}">
            </a>
        </div>
    </section>

    <section class="gems"></section>

    <section class="newsletter">
        <div class="newsletter-box">
            <h3>Want to get the latest updates and news about our next projects?</h3>
            <h2>Sign up for our newsletter!</h2>

            {% include "partials/mailchimp.html" %}
        </div>
    </section>

    <footer class="footer">
        <h3 class="footer-social">Follow us on <a class="footer-social-link" href="https://www.facebook.com/tabulagames" target="_blank">Facebook</a> and <a class="footer-social-link" href="https://twitter.com/tabulagames" target="_blank">Twitter</a>!</h3>
        <p class="footer-copyright">All images, art, and game material are Copyright &copy; 2017 <a class="footer-copyright-link" href="https://tabula.games/" target="_blank">Tabula Games</a>.</p>
    </footer>
{% endblock content %}
