{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
    <section class="splash">
        <div class="splash-illustration">
            <div class="splash-illustration-logo"></div>
            <div class="splash-illustration-plant"></div>
            <div class="splash-illustration-hill"></div>
            <div class="splash-illustration-goblin"></div>
            <div class="splash-illustration-foreground-cloud-first"></div>
            <div class="splash-illustration-foreground-cloud-second"></div>
            <div class="splash-illustration-castle"></div>
            <div class="splash-illustration-background-cloud-third"></div>
            <div class="splash-illustration-background-cloud-fourth"></div>
            <div class="splash-illustration-background-cloud-fifth"></div>
        </div>
    </section>

    <section class="orders">
        <div class="orders-game">
            <h1>Preorder Jewels!</h1>
            <p class="orders-game-description">Jewel is an amazing adventure for those who love board games, cards and gems.
                Play as a merchant to become the richest in Marylia!</p>
            <a class="button orders-game-button" href="#">
                <img class="orders-button-cornice js-inject-svg" src="{% static 'svg/cornice.svg' %}">
            </a>
        </div>
    </section>
    <section class="newsletter">
        <div class="newsletter-gems"></div>
        <div class="newsletter-box">
            <h3>Want to get the latest updates and news about Jewels?</h3>
            <h2>SIgn up for our newsletter!</h2>
            <form class="newsletter-box-form">
                <input class="newsletter-box-form-input" type="text" name="newsletter" placeholder="Type your email address">
            <a class="form-button newsletter-box-form-button" href="#">Sign up</a>
            </form>
        </div>
    </section>
    <footer class="footer">
        <h3 class="footer-social">Follow us on <a class="footer-social-link" href="https://www.facebook.com/gamejewels/?fref=ts" target="_blank">Facebook</a> and <a class="footer-social-link" href="https://twitter.com/GameJewels" target="_blank">Twitter</a>!</h3>
        <p class="footer-copyright">All images, art, and game material are Copyright &copy; 2016 <a class="footer-copyright-link" href="https://evonove.it/" target="_blank">Evonove SRL</a>.</p>
    </footer>
{% endblock content %}
