.footer {
  background-color: $tundora;
  padding: 2em 5%;
  text-align: center;

  & > * {
    margin: 29px auto 0;
  }
}

.footer-social-link,
.footer-copyright-link {
  color: $fern;
}

.footer-copyright {
  color: $white;
}
