.newsletter {
  background-color: $mine-shaft;
  text-align: center;
}

.newsletter-box {
  box-sizing: border-box;
  padding: 5em 5%;

  & > * {
    margin: 29px auto 0;
  }

  @media #{$small-port} {
    padding: 4em 5%;
  }
}

.newsletter-box-form-input {
  border: 2px solid $tundora;
  height: 37px;
  padding: 0 7px;
  width: 350px;

  &::placeholder {
    color: $silver;
  }

  &:focus {
    outline-color: $fern;
  }

  @media #{$small-port} {
    width: 90%;
  }
}

.newsletter-box-form-button {
  text-transform: uppercase;
  margin: 29px auto 0;
}
