.orders {
  background: radial-gradient($merlot, $heath);
  box-sizing: border-box;
  padding: 10em 5%;
  text-align: center;

  @media #{$medium-port} {
    padding: 5em 0;
  }

  @media #{$small-port} {
    padding: 4em 0;
  }
}

.button.orders-game-button::after {
  content: 'Preorder';
}

.orders-game {
  width: 75%;
  margin: auto;

  & > * {
    margin: 29px auto 0;
  }
}
