.splash {
  background: linear-gradient($sinbad, $conch);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.splash-logo_tabula {
  box-shadow: 1px 1px 2px $mine-shaft;
  display: inline-block;
  position: absolute;
  height: 69px;
  left: 1.618em;
  top: 1em;
  width: 69px;
  z-index: 9999;

  @media #{$medium-port} {
    left: auto;
    right: 1.618em;
  }

  @media #{$small-port} {
    height: 42px;
    left: auto;
    right: 1em;
    width: 42px;
  }
}

.splash-logo_tabula > img {
  width: 100%;
}

// All illustrations should have these declarations
.splash-illustration > * {
  height: 100vh;
  position: absolute;
  width: 100%;
}

// Logo
.splash-illustration-logo {
  z-index: $z-logo;

  .webp & {
    background: url("../images/logo@x2.webp") no-repeat 35% 20% / 35% auto;
  }

  .no-webp & {
    background: url("../images/logo@x2.png") no-repeat 35% 20% / 35% auto;
  }

  .webp &,
  .no-webp & {
    @media #{$medium-port} {
      background-position: 15% 10%;
      background-size: 50% auto;
    }

    @media #{$small-port} {
      background-position: 15% 10%;
      background-size: 75% auto;
    }
  }
}

// Carnivourus plant
.splash-illustration-plant {
  z-index: $z-plant;

  .webp & {
    background: url("../images/plant@x2.webp") no-repeat 5% 100% / auto 60%;
  }

  .no-webp & {
    background: url("../images/plant@x2.png") no-repeat 5% 100% / auto 60%;
  }

  .webp &,
  .no-webp & {
    @media #{$extra-large} {
      bottom: -20%;
    }
    @media #{$medium-port} {
      background-size: 50% auto;
    }

    @media #{$small-port} {
      background-position: 5% 100%;
      background-size: 50vw auto;
    }

    @media #{$small-land}, #{$medium-land} {
      background-size: auto 50%;
    }
  }
}

// Hill
.splash-illustration-hill {
  z-index: $z-hill;

  .webp & {
    background: url("../images/hill@x2.webp") no-repeat 100% 100% / 100% auto;
  }

  .no-webp & {
    background: url("../images/hill@x2.png") no-repeat 100% 100% / 100% auto;
  }

  .webp &,
  .no-webp & {
    @media #{$extra-large} {
      bottom: -23%;
      height: 150vh;
    }

    @media #{$small-land} {
      background-position: 100% 75%;
    }
  }
}

.splash-illustration-background-hill {
  display: none;
  filter: brightness(0.8);
  right: 10%;
  transform: scaleX(-1);
  z-index: $z-bg-hill;
  width: 30%;

  .webp & {
    background: url("../images/hill@x2.webp") no-repeat 35% 115% / 150%;
  }

  .no-webp & {
    background: url("../images/hill@x2.png") no-repeat 35% 115% / 150%;
  }

  .webp &,
  .no-webp & {
    @media #{$extra-large} {
      display: block;
    }
  }
}

// Goblin
.splash-illustration-goblin {
  z-index: $z-goblin;

  .webp & {
    background: url("../images/goblin@x2.webp") no-repeat 100% 33vh / 22% auto;
  }

  .no-webp & {
    background: url("../images/goblin@x2.png") no-repeat 100% 33vh / 22% auto;
  }

  .webp &,
  .no-webp & {
    @media #{$large}, #{$medium-land} {
      background-position: 100% 70%;
    }

    @media #{$medium-port} {
      background-position: 100% 80%;
    }

    @media #{$small-port} {
      background-position: 100% 87%;
    }

    @media #{$small-land} {
      background-position: 100% 50%;
    }
  }
}

// Foreground clouds
.splash-illustration-foreground-clouds {
  z-index: $z-fg-cloud;

  // All clouds should have these declarations
  & > * {
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.splash-illustration-foreground-clouds-top {
  animation: fg-cloud-top 120s linear infinite;

  .webp & {
    background: url("../images/cloud5@x2.webp") no-repeat 70% 5vh / 20%;
  }

  .no-webp & {
    background: url("../images/cloud5@x2.png") no-repeat 70% 5vh / 20%;
  }
}

.splash-illustration-foreground-clouds-bottom {
  animation: fg-cloud-bottom 190s linear infinite;

  .webp & {
    background: url("../images/cloud4@x2.webp") no-repeat 90% 25vh / 17%;
  }

  .no-webp & {
    background: url("../images/cloud4@x2.png") no-repeat 90% 25vh / 17%;
  }
}


// Castle
.splash-illustration-castle {
  z-index: $z-castle;

  .webp & {
    background: url("../images/castle@x2.webp") no-repeat 84% 5vh / auto 100%;
  }

  .no-webp & {
    background: url("../images/castle@x2.png") no-repeat 84% 5vh / auto 100%;
  }

  .webp &,
  .no-webp & {
    @media #{$medium-port} {
      background-position: 84% 100%;
      background-size: auto 100vw;
    }

    @media #{$small-land}, #{$medium-land} {
      background-size: auto 100vh;
    }
  }
}

// Background clouds
.splash-illustration-background-clouds {
  z-index: $z-bg-cloud;

  // All clouds should have these declarations
  & > * {
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
  }
}
.splash-illustration-background-clouds-top {
  animation: bg-cloud-top 280s linear infinite;

  .webp & {
    background: url("../images/cloud1@x2.webp") no-repeat 30% 5vh / 46%;
  }

  .no-webp & {
    background: url("../images/cloud1@x2.png") no-repeat 30% 5vh / 46%;
  }
}

.splash-illustration-background-clouds-middle {
  animation: bg-cloud-middle 160s linear infinite;

  .webp & {
    background: url("../images/cloud2@x2.webp") no-repeat 10% 42vh / 38%;
  }

  .no-webp & {
    background: url("../images/cloud2@x2.png") no-repeat 10% 42vh  / 38%;
  }
}

.splash-illustration-background-clouds-bottom {
  animation: bg-cloud-bottom 360s linear infinite;

  .webp & {
    background: url("../images/cloud3@x2.webp") no-repeat 85% 55vh / 44%;
  }

  .no-webp & {
    background: url("../images/cloud3@x2.png") no-repeat 85% 55vh / 44%;
  }
}

.splash-scroll {
  bottom: 0;
  left: 50%;
  position: absolute;
  z-index: $z-scroll;
}

.splash-scroll-text {
  font: 2rem 'Le Grimoire du Bonheur', serif;
  left: -50%;
  position: relative;
}
