.videogame {
  background: radial-gradient(#59A867, #67c277);
  box-sizing: border-box;
  overflow: hidden;
  padding: 5em 5%;
  position: relative;
  text-align: center;
}

.videogame-textbox {
  position: relative;
  z-index: 100;
}

.videogame-textbox-text {
  margin-top: 0.618em;
}

.videogame-preview {
  margin: 1.618em auto -10em;
  transform: rotate(-5deg);
  width: 30%;

  @media #{$small-port}, #{$medium-port} {
    width: 70%;
    margin: 1.618em auto -8em;
  }

  @media #{$small-port} {
    margin: 1.618em auto -7em;
  }
}

.videogame-preview-cornice {
  position: absolute;
  width: 100%;
}

.videogame-preview-screenshot {
  width: 100%;
}