// Variables
// ---------

// Font-sizes
$h1: 6.552rem;

$text-button: 2.25rem;

// Z-indexes
$z-logo: 1000;
$z-plant: 900;
$z-hill: 800;
$z-goblin: 700;
$z-fg-cloud: 600;
$z-castle: 500;
$z-bg-cloud: 400;
