// Variables
// ---------

// Font-sizes
$h1: 6.552rem 'Le Grimoire du Bonheur', sans-serif;
$h2: 4.368rem 'Le Grimoire du Bonheur', sans-serif;
$h3: 2.912rem 'Le Grimoire du Bonheur', sans-serif;
$p: 1.5rem / 1.5 'Ovo', serif;
$text-button: 2.25rem;

$h1-mobile: 22.5vw;
$h2-mobile: 15vw;
$h3-mobile: 10vw;
$p-mobile: 6.67vw;

// Z-indexes
$z-scroll: 1500;
$z-logo: 1000;
$z-plant: 900;
$z-hill: 800;
$z-bg-hill: 750;
$z-goblin: 700;
$z-fg-cloud: 600;
$z-castle: 500;
$z-bg-cloud: 400;
$z-videogame-text: 100;
